#colophon{

    background-color: rgb(83, 22, 70);
    /* padding-bottom: -1000%; */
    text-align: center;
}
#site-navigation{

    background-color: rgb(83, 22, 70);
}
/*.card {
    padding: 15px;
    border-radius: 10px;
    
}*/
#main a:active,
main a:link,
main a:visited{
    font-family: 'Times New Roman', Times;
   
    color: #55053ab0;

}
#wp-calendar{
    color: aliceblue;
}
#wp-calendar tbody tr #today:hover{
    color: aliceblue;
}
.widget-title{
    margin-top: 65px;
    text-align: right;
    color: #55053ab0;
    font-family: 'Times New Roman', Times;
}
.footer-widget-title{    
    text-align: right;
    color: #FF6F61FF;
    font-family: 'Times New Roman', Times;

}
.widget ul li {
    list-style-type: none;
    text-align: right;

}
.widget ul li a:link:hover{
    color: orange;
   text-decoration: none;
   color: black;
    background-color: orange;
    padding: 3px;
}
.widget ul li a:active:hover{
    color: orange;
   text-decoration: none;
  transition-duration: .5;
  padding: 3px;
  

}
.widget ul li a:visited:hover{
    color: black;
    background-color: orange;
   text-decoration: none;
   cursor: pointer;
   padding: 3px;
   
}
.widget ul li a:active,
.widget ul li a:link,
.widget ul li a:visited{
     
    color: #cea008b0;


}
.footer{
    color: #cea008b0;
}
#footerlink:active,
#footerlink:link,
#footerlink:visited{
    color: aqua;
}
#archives-dropdown-6{
    float: right;
}




body {
    color: #fff;
    font: 600 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
  }
  .box {
    background: #55053ab0;
    border-radius: 6px;
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    text-align: center;
    transition-property: background, border-radius;
    transition-duration: .2s, 1s;
    transition-timing-function: linear, ease-in;
    width: 50px;
    margin-bottom: 10px;
  }
  .box:hover {
    background: #ff7b29;
    color: #55053ab0;
    border-radius: 50%;
    text-decoration: none;
  }
  .box:link,.box:active,.box:visited{
      color: #FF6F61FF;
  }
  .box:link:hover,.box:active:hover,.box:visited:hover{
    color: #55053ab0;



}

  



